 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 #navbar {
     display: flex;
     flex-direction: row;
     align-items: center;
      width:100dvh;
     justify-content: space-evenly;
     padding: 10px 0 10px 0;
     margin-right:0;
     margin-bottom: 10px;
     font-family: 'Arial Narrow', Arial;
     list-style: none;
     color: white;
     background-color: #000000;
 }

 .logo {
     width: 50px;
 }

 #cart {
     width: 3pc;
     padding: 5px;
     border-radius: 20px;
     background-color: aliceblue;
     align-content: flex-end;
 }

 #main_pic {
     width: 20rem;
     height: 20rem;
     border-radius: 100%;
     filter: drop-shadow(10px 10px 200px #0077ffb9);
     transform: rotate(20deg);
     animation: drop .5s ease-out;

 }

 main {
     display: flex;
     align-items: center;
     margin: auto;
     width: 100dvh;
     flex-wrap: wrap;

 }

 main h1 {
     text-shadow: 3px 10px 50px #100cf5;
 }

 main p,
 main h1 {
     animation: texeffect 1s;

 }

 main p {
     font-family: monospace;
     font-size: 22px;
     word-wrap: break-word;
     word-break: break-all;

 }

 #desc {
     flex: 1;
     padding: 20px;
 }

 .btns {
     margin-top: 2rem;
 }

 #btn1,
 #btn2 {
     padding: 10px;
     margin: 15px;
     border-radius: 10px;
     animation: glow 1.2s ease-in;
 }

 #btn1 {
     background-color: transparent;
     border: 2px solid blueviolet;
     color: blueviolet;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: 700;
     letter-spacing: 0.6px;
 }

 #btn2 {
     background-color: blueviolet;
     border: 2px solid whitesmoke;
     color: whitesmoke;
     font-weight: 700;
 }

 #circle1,
 #circle2,
 #circle3 {
     position: absolute;
     animation: ball 2s ease-in-out;
 }

 #circle1 {
     top: 0;
     right: 0;
     z-index: -1;
     filter: opacity(50%);
 }

 #circle2 {
     top: 50%;
     right: 30%;
     z-index: -2;
     filter: opacity(30%);
 }

 #circle3 {
     top: 90%;
     right: 50%;
     filter: opacity(20%);
     width: 20em;
 }

 footer {}

 @keyframes drop {
     0% {
         opacity: 0;
         transform: translateX(80px);
     }

     50% {
         opacity: 0.50;
         transform: translateX(0);

     }

     100% {
         opacity: 1;
     }
 }

 @keyframes glow {
     0% {
         opacity: 0;
     }

     25% {
         opacity: 1;
     }

     50% {
         border-color: darkblue;
     }

     100% {}
 }

 @keyframes texeffect {
     0% {
         opacity: 0;
     }

     25% {
         opacity: 1;
         text-decoration: underline;
     }

     50% {
         color: transparent;
         text-shadow: 2px 1px 1px #000000;
     }

     75% {
         color: transparent;
         text-shadow: 2px 1px 1px #000000;

     }

     100% {}

 }

 @keyframes ball {
     0% {
         opacity: 0;
         transform: translateX(90px);
     }

     100% {
         opacity: 1;
         transform: translateX(0);
     }
 }

 @media screen and (max-width:1024px) {
     main {
         flex-direction: column;
         scroll-behavior: smooth;
         width: min-content;
     }

     .bg_img {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }

     #circle1,
     #circle2,
     #circle3 {
         margin-top: 1em;
         width: 30em;
     }

     #circle1{
        display: flex;
        align-items: center;
        justify-content: center;
     }
     #circle2 {
        display: flex;
         align-items: center;
         justify-content: center;
         opacity: 1;
     }

     #circle3 {
         opacity: 1;
         display: flex;
         justify-content: center;
         align-items: center;

     }

 }
